<div class="row">
    <div class="col-md-3" validator-continer="ATT1">
        <div class="form-group">
            <label validator-label="ATT1"></label>
            <input name="att1" class="form-control" id="att1" validator="ATT1">
        </div>
    </div>
    <div class="col-md-3" validator-continer="ATT2">
        <div class="form-group">
            <label validator-label="ATT2"></label>
            <input name="att2" class="form-control" id="att2" validator="ATT2">
        </div>
    </div>
    <div class="col-md-3" validator-continer="ATT3">
        <div class="form-group">
            <label validator-label="ATT3"></label>
            <input name="att3" class="form-control" id="att3" validator="ATT3">
        </div>
    </div>
    <div class="col-md-3" validator-continer="ATT4">
        <div class="form-group">
            <label validator-label="ATT4"></label>
            <input name="att4" class="form-control" id="att4" validator="ATT4">
        </div>
    </div>
</div>