<div class="row">
    <div class="col-md-3" [appHide]="'ATT1'">
        <div class="form-group">
            <label>test 1</label>
            <input name="att1" class="form-control" id="att1">
        </div>
    </div>
    <div class="col-md-3" [appHide]="'ATT2'">
        <div class="form-group">
            <label>test 2</label>
            <input name="att2" class="form-control" id="att2">
        </div>
    </div>
    <div class="col-md-3" [appHide]="'ATT3'">
        <div class="form-group">
            <label>test 3</label>
            <input name="att3" class="form-control" id="att3">
        </div>
    </div>
    <div class="col-md-3" [appHide]="'ATT4'">
        <div class="form-group">
            <label>test 4</label>
            <input name="att4" class="form-control" id="att4">
        </div>
    </div>
</div>